@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-ultralight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'gilroy';
  src: url(/font/gilroy-heavy.ttf);
}
@font-face {
  font-family: 'Proxima_Nova';
  src: url(/font/proximanova_bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima_Nova';
  src: url(/font/proximanova_black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Proxima_Nova';
  src: url(/font/proximanova_extrabold.otf);
  font-weight: 800;
}

@font-face {
  font-family: 'Proxima_Nova';
  src: url(/font/proximanova_regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima_Nova';
  src: url(/font/proximanova_light.otf);
  font-weight: 300;
}
