@import "fonts";
@import url('/misterbyt/css/conts.css');
@import "mixins";
@import "variables";

nav {
  padding: 20px 0;
  .nav__wrapper {
    @include flex;
  }
  .nav__logo {
    img {
      @include image-dimensions(120px, 35px);
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  .burger, .close {
    display: none;
  }
  .nav__menu {
    ul {
      @include flex;
      gap:40px;
      a {
        @include font;
      }
    }
    .nav__info_mobile{
      display: none;
    p{
      @include font;
    }
    }
    .nav__tel_mobile {
      display: none;
      a {
        @include font ($fontSize:22px, $fontW:900,$fontF:'gilroy');
        span {
          color: #FED036;
        }
      }
    }
  }
  input[type="checkbox"]:checked ~ .nav__sidebar {
    right: 0;
  }
  .nav__info{
    @include flex ;
    p{
      @include font;
    }
  }
  .nav__tel {
    a {
      @include font ($fontSize:28px, $fontW:900,$fontF:'gilroy');
      span {
        color: #FED036;
      }
    }
  }
}

.banner {
  position: relative;
  padding-top: 30px;
  background:$bgColor;
  .banner__wrapper {
    @include flex;
  }
  .banner__box {
    @include flex ($direction: column, $align: start);
    gap: 30px;
    h2{
      @include font ($fontSize:30px, $fontW:600,$fontF:'Proxima Nova');
    }
    h1{
      @include font ($color:#fff, $fontSize:60px, $fontW:900,$fontF:'gilroy');
      text-transform: uppercase;
    }
    .banner__order{
      @include flex($justify: start,);
      gap: 10px;
      p {
        @include font ($fontSize:24px, $fontW:400,$fontF:'Proxima Nova');
      }
    }
  }
  .banner__img {
    img {
      @include image-dimensions(100%, 100%, contain);
    }
  }
  .banner__button{
    position: absolute;
    bottom: -10px;
    left: 50%;
    @include flex($justify:center,$align:end);
    transform: translate(-50%);
    .btn{
        @include flex($justify:center,);
        gap: 10px;
        @include btn(#fff,600,16px 26px 15px 19px,#3C93F0,none,18px);
        border-radius: 3px 0 0 3px;
        flex-shrink: 0;
        display: none;
        svg {
          margin-right: 10px;
        }
    }
    .banner__btn{
        @include flex($justify:center);
        gap: 10px;
        @include btn(#fff,600,16px 31px 15px 19px,#09D743,none,18px);
        border-radius: 0 3px 3px 0;
        flex-shrink: 0;
        display: none;
        svg {
          margin-right: 10px;
        }
    }
}
  .banner__titlemobile{
    display: none;
    @include font ($color:#fff, $fontSize:60px, $fontW:900,$fontF:'gilroy');
  }
  .banner__text {
    display: none;
    @include font ($fontSize:30px, $fontW:600,$fontF:'Proxima Nova');
  }
  .banner__form{
    @include flex;
    background-color: #fff;
    border-radius: 3px;
    padding: 0 0 0 20px;
    input[type="number"]{
        outline: none;
        border: 0;
        padding: 17px 0;
    }
    input[type="submit"]{
        outline: none;
        border: 0;
        background-color:#3C93F0;
        padding: 17px 23px 16px 21px;
        border-radius: 3px;
        @include font(#fff,24px,500,'gilroy');
    }
    .banner__flag{
        @include flex;
        margin-right: 10px;
    }
}
  .banner__rotate {
    @include flex( $align: center);
    position: absolute;
    left: -73px;
    top: 300px;
    transform: rotate(90deg);
    background: #3C93F0;
    padding: 10px;
    border-radius: 5px;
    svg {
      transform: rotate(-90deg);
    }
    p {
      @include font($color:#fff, $fontSize:12px, $fontW:700, $fontF:'gilroy') ;
      text-transform: uppercase;
    }
  }
}

footer {
  background: $textColor;
  padding: 33px 0 20px 0;
  width: 100%;
  position: relative;
  .footer__tel {
    text-align: center;
    a{
      @include font ($color: #fff, $fontSize:24px, $fontW:900,$fontF:'gilroy');
      span {
        @include font ($color: #FED036, $fontSize:36px,$fontW:900 ,$fontF:'gilroy');
      }
    }
  }
  .footer__info {
    @include flex ($justify: center,);
    gap: 5px;
    margin-top: 11px;
    a {
      @include font ($color:#FED036, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
      text-decoration: underline;
    }
  }
  .footer__inn {
    @include font ($color:#fff, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    margin-top: 15px;
  }
  .footer__link {
      text-align: center;
      margin-top: 15px;
      a{
        @include font ($color:#FED036, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
        text-decoration: underline;
      }
  }
  .footer__text {
    @include font ($color:#fff, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer__end {
    @include font ($color:#edf3f6af, $fontSize:9px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    width: 582px;
    margin: auto;
  }
  .footet__topBtn{
    position: absolute;
    @include flex;
    gap: 5px;
    padding: 9px 13px;
    background: #3C93F0;
    border-radius: 3px;
    top: -15px;
    left: 47%;
    a{
      @include font ($color:#fff, $fontSize:14px, $fontW:600, $fontF:'Proxima Nova');
    }
  }
}

// media



/* ==============1280=================== */

@media only screen and (max-width: 1280px) {

  nav {
    .nav__menu {
      ul {
        gap:20px;
        a {
          font-size: 12px;
        }
      }
    }
    .nav__info{
      p{
       font-size: 12px;
      }
    }
  }

  .banner {
    .banner__box {
      h2{
        font-size: 24px;
      }
      h1{
        font-size: 42px;
      }
      .banner__order{
        p {
          font-size: 18px
        }
      }
    }
  }

}
/* ==============1024=================== */

@media only screen and (max-width: 1024px) {
  
  nav {
    padding: 10px 0;
    .nav__logo {
      img {
        width: 120px;
        height: 35px;
      }
    }
    .burger {
      display: block;
      i {
        font-size: 40px;
        color: #3C93F0;
      }
    }
    .close {
      @include flex($justify:flex-end);
      width: 100%;
      margin-bottom: 40px;

      i {
        font-size: 35px;
        color: #3C93F0;
      }
    }
    .nav__menu {
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 40px;
        margin-left: 0;
        a {
          font-size: 18px;
        }
      }
    }
    .nav__sidebar {
      position: fixed;
      bottom: 0;
      right: -100%;
      background-color: #fff;
      width: 300px;
      height: 100vh;
      flex-direction: column;
      padding: 30px 40px;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav__info{
      p{
       font-size: 18px;
      }
    }
    .nav__tel {
      a {
        font-size: 24px;
      }
    }
  }

  .banner {
    .banner__box {
      h2{
        font-size: 20px;
      }
      h1{
        font-size: 32px;
      }
      .banner__order{
        p {
          font-size: 18px
        }
      }
    }
  }

}

/* ==============768=================== */

@media only screen and (max-width: 768px) {
  
  nav {
    .nav__logo {
      img {
        @include image-dimensions(84px, 25px);
      }
    }
    .burger {
      i {
        font-size: 25px;
      }
    }
    .nav__menu {
      .nav__info_mobile {
        display: block;
        margin-top: 30px;
        text-align: center;
      }
      .nav__tel_mobile {
        display: block;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .nav__sidebar {
      padding: 20px 40px;
    }
    .nav__info{
      display: none;
    }
    .nav__tel {
      display: none;
    }
  }

  .banner {
    .banner__box {
      h2{
        font-size: 20px;
      }
      h1{
        font-size: 32px;
      }
      .banner__order{
        p {
          font-size: 14px
        }
      }
    }
    .banner__form{
      display: none;
    }
    .banner__rotate {
      display: none;
    }
    .btn{
      display: block !important;
    }
    .banner__btn{
        display: block !important;
    }
  }

  footer {
    .footer__tel {
      a{
        @include font ($color: #fff, $fontSize:20px, $fontW:900,$fontF:'gilroy');
        span {
          @include font ($color: #FED036, $fontSize:28px,$fontW:900);
        }
      }
    }
    .footer__info {
      a {
        @include font ($color:#FED036, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
      }
    }
    .footer__inn {
      @include font ($color:#fff, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
    }
    .footer__link {
        a{
          @include font ($color:#FED036, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
        }
    }
    .footer__text {
      @include font ($color:#fff, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
    }
    .footer__end {
      @include font ($color:#edf3f6af, $fontSize:8px, $fontW:400, $fontF:'Proxima Nova');
      width: 100%;
    }
    .footet__topBtn {
      left: 45%;
      a {
        font-size: 10px;
      }
    }
  }
}

/* ==============640=================== */

@media only screen and (max-width: 640px) {
  .banner {
    .banner__wrapper {
      @include flex($direction: column);
    }
    .banner__box {
      align-items: center;
      gap: 10px;
      h2{
        display: none;
      }
      .banner__titlemobile{
        display: block;
        font-size: 28px;
        text-align: center;
      }
      h1{
        display: none;
      }
      .banner__text {
        font-size: 18px;
        display: block;
        text-align: center;
      }
      .banner__order{
        display: none;
      }
    }
    .banner__img {
      margin-left: 10px;
    }
  }
}

/* ==============450=================== */

@media only screen and (max-width: 450px) {
  nav {
    .nav__logo {
      img {
        @include image-dimensions(80px, 21px);
      }
    }
    .burger {
      i {
        font-size: 24px;
      }
    }
  }

  .banner {
    .banner__button{
      bottom: 0;
      .btn{
          @include btn(#fff,600,15px 19px 15px 19px,#3C93F0,none,16px);
      }
      button.banner__btn{
          @include btn(#fff,600,15px 19px 15px 19px,#09D743,none,16px);
      }
  }
  }

  footer {
    .footer__tel {
      a{
        @include font ($color: #fff, $fontSize:28px, $fontW:900,$fontF:'gilroy');
        span {
          @include font ($color: #FED036, $fontSize:28px,$fontW:900);
        }
      }
    }
    .footer__info {
      a {
        @include font ($color:#FED036, $fontSize:12px, $fontW:400, $fontF:'Proxima Nova');
      }
    }
    .footet__topBtn {
      left: 39%;
      gap: 20px;
      padding: 4px 13px;
      top: -10px;
      a {
        font-size: 10px;
      }
    }
  }
}
