@import url("/misterbyt/css/conts.css");
@import '/css/fonts.css';
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-ultralight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "gilroy";
  src: url(/font/gilroy-heavy.ttf);
}
@font-face {
  font-family: "Proxima_Nova";
  src: url(/font/proximanova_bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Proxima_Nova";
  src: url(/font/proximanova_black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Proxima_Nova";
  src: url(/font/proximanova_extrabold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Proxima_Nova";
  src: url(/font/proximanova_regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima_Nova";
  src: url(/font/proximanova_light.otf);
  font-weight: 300;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.title h1 {
  color: #3E3E3E;
  font-weight: 900;
  font-size: 48px;
  font-family: "gilroy";
}
.title p {
  color: #3E3E3E;
  font-weight: 400;
  font-size: 24px;
  font-family: "Proxima_Nova";
  text-align: center;
}
.title i {
  color: rgba(62, 62, 62, 0.2);
  font-weight: 900;
  font-size: 40px;
  font-family: "Proxima_Nova";
}

@media only screen and (max-width: 1536px) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .title h1 {
    color: #3E3E3E;
    font-weight: 900;
    font-size: 48px;
    font-family: "gilroy";
  }
  .title p {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 24px;
    font-family: "Proxima_Nova";
    text-align: center;
  }
  .title i {
    color: rgba(62, 62, 62, 0.2);
    font-weight: 900;
    font-size: 40px;
    font-family: "Proxima_Nova";
  }
}
@media only screen and (max-width: 768px) {
  .title h1 {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 38px;
    font-family: "Proxima_Nova";
  }
  .title p {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 14px;
    font-family: "Proxima_Nova";
    text-align: center;
  }
  .title i {
    color: rgba(62, 62, 62, 0.2);
    font-weight: 900;
    font-size: 30px;
    font-family: "Proxima_Nova";
  }
}
@media only screen and (max-width: 640px) {
  .title h1 {
    color: #3E3E3E;
    font-weight: 900;
    font-size: 24px;
    font-family: "gilroy";
  }
  .title p {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 12px;
    font-family: "Proxima_Nova";
    text-align: center;
  }
  .title i {
    color: rgba(62, 62, 62, 0.2);
    font-weight: 900;
    font-size: 40px;
    font-family: "Proxima_Nova";
  }
}
@media only screen and (max-width: 450px) {
  .title h1 {
    color: #3E3E3E;
    font-weight: 900;
    font-size: 20px;
    font-family: "gilroy";
  }
  .title p {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 12px;
    font-family: "Proxima_Nova";
    text-align: center;
  }
  .title i {
    color: rgba(62, 62, 62, 0.2);
    font-weight: 900;
    font-size: 20px;
    font-family: "Proxima_Nova";
  }
}
nav {
  padding: 20px 0;
}
nav .nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .nav__logo img {
  width: 120px;
  height: 35px;
  object-fit: cover;
}
nav input[type=checkbox] {
  display: none;
}
nav .burger, nav .close {
  display: none;
}
nav .nav__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
nav .nav__menu ul a {
  color: #3E3E3E;
  font-weight: 400;
  font-size: 18px;
  font-family: "Proxima_Nova";
}
nav .nav__menu .nav__info_mobile {
  display: none;
}
nav .nav__menu .nav__info_mobile p {
  color: #3E3E3E;
  font-weight: 400;
  font-size: 18px;
  font-family: "Proxima_Nova";
}
nav .nav__menu .nav__tel_mobile {
  display: none;
}
nav .nav__menu .nav__tel_mobile a {
  color: #3E3E3E;
  font-weight: 900;
  font-size: 22px;
  font-family: "gilroy";
}
nav .nav__menu .nav__tel_mobile a span {
  color: #FED036;
}
nav input[type=checkbox]:checked ~ .nav__sidebar {
  right: 0;
}
nav .nav__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .nav__info p {
  color: #3E3E3E;
  font-weight: 400;
  font-size: 18px;
  font-family: "Proxima_Nova";
}
nav .nav__tel a {
  color: #3E3E3E;
  font-weight: 900;
  font-size: 28px;
  font-family: "gilroy";
}
nav .nav__tel a span {
  color: #FED036;
}

.banner {
  position: relative;
  padding-top: 30px;
  background: #FED036;
}
.banner .banner__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner .banner__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
.banner .banner__box h2 {
  color: #3E3E3E;
  font-weight: 600;
  font-size: 30px;
  font-family: "Proxima Nova";
}
.banner .banner__box h1 {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  font-family: "gilroy";
  text-transform: uppercase;
}
.banner .banner__box .banner__order {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.banner .banner__box .banner__order p {
  color: #3E3E3E;
  font-weight: 400;
  font-size: 24px;
  font-family: "Proxima Nova";
}
.banner .banner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner .banner__button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  transform: translate(-50%);
}
.banner .banner__button .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  padding: 16px 26px 15px 19px;
  background-color: #3C93F0;
  border: none;
  border-radius: 4px;
  font-family: "Proxima Nova";
  border-radius: 3px 0 0 3px;
  flex-shrink: 0;
  display: none;
}
.banner .banner__button .btn svg {
  margin-right: 10px;
}
.banner .banner__button .banner__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat;
  padding: 16px 31px 15px 19px;
  background-color: #09D743;
  border: none;
  border-radius: 4px;
  font-family: "Proxima Nova";
  border-radius: 0 3px 3px 0;
  flex-shrink: 0;
  display: none;
}
.banner .banner__button .banner__btn svg {
  margin-right: 10px;
}
.banner .banner__titlemobile {
  display: none;
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  font-family: "gilroy";
}
.banner .banner__text {
  display: none;
  color: #3E3E3E;
  font-weight: 600;
  font-size: 30px;
  font-family: "Proxima Nova";
}
.banner .banner__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 0 0 20px;
}
.banner .banner__form input[type=number] {
  outline: none;
  border: 0;
  padding: 17px 0;
}
.banner .banner__form input[type=submit] {
  outline: none;
  border: 0;
  background-color: #3C93F0;
  padding: 17px 23px 16px 21px;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  font-family: "gilroy";
}
.banner .banner__form .banner__flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.banner .banner__rotate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -73px;
  top: 300px;
  transform: rotate(90deg);
  background: #3C93F0;
  padding: 10px;
  border-radius: 5px;
}
.banner .banner__rotate svg {
  transform: rotate(-90deg);
}
.banner .banner__rotate p {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  font-family: "gilroy";
  text-transform: uppercase;
}

footer {
  background: #3E3E3E;
  padding: 33px 0 20px 0;
  width: 100%;
  position: relative;
}
footer .footer__tel {
  text-align: center;
}
footer .footer__tel a {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  font-family: "gilroy";
}
footer .footer__tel a span {
  color: #FED036;
  font-weight: 900;
  font-size: 36px;
  font-family: "gilroy";
}
footer .footer__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 11px;
}
footer .footer__info a {
  color: #FED036;
  font-weight: 400;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-decoration: underline;
}
footer .footer__inn {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-align: center;
  margin-top: 15px;
}
footer .footer__link {
  text-align: center;
  margin-top: 15px;
}
footer .footer__link a {
  color: #FED036;
  font-weight: 400;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-decoration: underline;
}
footer .footer__text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer__end {
  color: rgba(237, 243, 246, 0.6862745098);
  font-weight: 400;
  font-size: 9px;
  font-family: "Proxima Nova";
  text-align: center;
  width: 582px;
  margin: auto;
}
footer .footet__topBtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 9px 13px;
  background: #3C93F0;
  border-radius: 3px;
  top: -15px;
  left: 47%;
}
footer .footet__topBtn a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: "Proxima Nova";
}

/* ==============1280=================== */
@media only screen and (max-width: 1280px) {
  nav .nav__menu ul {
    gap: 20px;
  }
  nav .nav__menu ul a {
    font-size: 12px;
  }
  nav .nav__info p {
    font-size: 12px;
  }
  .banner .banner__box h2 {
    font-size: 24px;
  }
  .banner .banner__box h1 {
    font-size: 42px;
  }
  .banner .banner__box .banner__order p {
    font-size: 18px;
  }
}
/* ==============1024=================== */
@media only screen and (max-width: 1024px) {
  nav {
    padding: 10px 0;
  }
  nav .nav__logo img {
    width: 120px;
    height: 35px;
  }
  nav .burger {
    display: block;
  }
  nav .burger i {
    font-size: 40px;
    color: #3C93F0;
  }
  nav .close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  nav .close i {
    font-size: 35px;
    color: #3C93F0;
  }
  nav .nav__menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin-left: 0;
  }
  nav .nav__menu ul a {
    font-size: 18px;
  }
  nav .nav__sidebar {
    position: fixed;
    bottom: 0;
    right: -100%;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    padding: 30px 40px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .nav__info p {
    font-size: 18px;
  }
  nav .nav__tel a {
    font-size: 24px;
  }
  .banner .banner__box h2 {
    font-size: 20px;
  }
  .banner .banner__box h1 {
    font-size: 32px;
  }
  .banner .banner__box .banner__order p {
    font-size: 18px;
  }
}
/* ==============768=================== */
@media only screen and (max-width: 768px) {
  nav .nav__logo img {
    width: 84px;
    height: 25px;
    object-fit: cover;
  }
  nav .burger i {
    font-size: 25px;
  }
  nav .nav__menu .nav__info_mobile {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  nav .nav__menu .nav__tel_mobile {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  nav .nav__sidebar {
    padding: 20px 40px;
  }
  nav .nav__info {
    display: none;
  }
  nav .nav__tel {
    display: none;
  }
  .banner .banner__box h2 {
    font-size: 20px;
  }
  .banner .banner__box h1 {
    font-size: 32px;
  }
  .banner .banner__box .banner__order p {
    font-size: 14px;
  }
  .banner .banner__form {
    display: none;
  }
  .banner .banner__rotate {
    display: none;
  }
  .banner .btn {
    display: block !important;
  }
  .banner .banner__btn {
    display: block !important;
  }
  footer .footer__tel a {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    font-family: "gilroy";
  }
  footer .footer__tel a span {
    color: #FED036;
    font-weight: 900;
    font-size: 28px;
    font-family: "Proxima_Nova";
  }
  footer .footer__info a {
    color: #FED036;
    font-weight: 400;
    font-size: 10px;
    font-family: "Proxima Nova";
  }
  footer .footer__inn {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    font-family: "Proxima Nova";
  }
  footer .footer__link a {
    color: #FED036;
    font-weight: 400;
    font-size: 10px;
    font-family: "Proxima Nova";
  }
  footer .footer__text {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    font-family: "Proxima Nova";
  }
  footer .footer__end {
    color: rgba(237, 243, 246, 0.6862745098);
    font-weight: 400;
    font-size: 8px;
    font-family: "Proxima Nova";
    width: 100%;
  }
  footer .footet__topBtn {
    left: 45%;
  }
  footer .footet__topBtn a {
    font-size: 10px;
  }
}
/* ==============640=================== */
@media only screen and (max-width: 640px) {
  .banner .banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .banner .banner__box {
    align-items: center;
    gap: 10px;
  }
  .banner .banner__box h2 {
    display: none;
  }
  .banner .banner__box .banner__titlemobile {
    display: block;
    font-size: 28px;
    text-align: center;
  }
  .banner .banner__box h1 {
    display: none;
  }
  .banner .banner__box .banner__text {
    font-size: 18px;
    display: block;
    text-align: center;
  }
  .banner .banner__box .banner__order {
    display: none;
  }
  .banner .banner__img {
    margin-left: 10px;
  }
}
/* ==============450=================== */
@media only screen and (max-width: 450px) {
  nav .nav__logo img {
    width: 80px;
    height: 21px;
    object-fit: cover;
  }
  nav .burger i {
    font-size: 24px;
  }
  .banner .banner__button {
    bottom: 0;
  }
  .banner .banner__button .btn {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: Montserrat;
    padding: 15px 19px 15px 19px;
    background-color: #3C93F0;
    border: none;
    border-radius: 4px;
    font-family: "Proxima Nova";
  }
  .banner .banner__button button.banner__btn {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: Montserrat;
    padding: 15px 19px 15px 19px;
    background-color: #09D743;
    border: none;
    border-radius: 4px;
    font-family: "Proxima Nova";
  }
  footer .footer__tel a {
    color: #fff;
    font-weight: 900;
    font-size: 28px;
    font-family: "gilroy";
  }
  footer .footer__tel a span {
    color: #FED036;
    font-weight: 900;
    font-size: 28px;
    font-family: "Proxima_Nova";
  }
  footer .footer__info a {
    color: #FED036;
    font-weight: 400;
    font-size: 12px;
    font-family: "Proxima Nova";
  }
  footer .footet__topBtn {
    left: 39%;
    gap: 20px;
    padding: 4px 13px;
    top: -10px;
  }
  footer .footet__topBtn a {
    font-size: 10px;
  }
}

/*# sourceMappingURL=service.css.map */
