
@import "fonts";
@import url('/misterbyt/css/conts.css');
@import "mixins";
@import "variables";
.title{
    @include flex (column, $isGap:true,$gap:20px);
    h2{
        @include font($textColor,48px,900,'gilroy');
    }
    p{
        @include font($textColor,24px);
        text-align: center;
    }
    i{
        color:#3E3E3E33;
        font-size: 50px;
    }
}
// ============================NAVBAR=====================
nav {
  padding: 20px 0;
  .nav__wrapper {
    @include flex;
  }
  .nav__logo {
    img {
      @include image-dimensions(120px, 35px);
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  .burger, .close {
    display: none;
  }
  .nav__menu {
    ul {
      @include flex;
      gap:40px;
      a {
        @include font;
      }
    }
    .nav__info_mobile{
      display: none;
    p{
      @include font;
    }
    }
    .nav__tel_mobile {
      display: none;
      a {
        @include font ($fontSize:22px, $fontW:900,$fontF:'gilroy');
        span {
          color: #FED036;
        }
      }
    }
  }
  input[type="checkbox"]:checked ~ .nav__sidebar {
    right: 0;
  }
  .nav__info{
    @include flex ;
    p{
      @include font;
    }
  }
  .nav__tel {
    a {
      @include font ($fontSize:28px, $fontW:900,$fontF:'gilroy');
      span {
        color: #FED036;
      }
    }
  }
}
// =======================BANNER=====================
.banner{
    background:$bgColor;
    .banner__content{
        @include flex ($justify:center);
    }
    .banner__text{
        @include flex(column,center,start,true,30px);
        h2{
            @include font($fontSize:30px,$fontW:600);
        }
        h1{
            @include font(#fff,60px,900,'gilroy');
            max-width: 600px;
        }
        .banner__text-icon{
            @include flex($isGap:ture,$gap:10px);
            p{
                @include font($fontSize:24px);
            }
        }
    }
    .banner__form{
        div{
            @include flex ($isGap:true,$gap:6px);
            background: #fff;
            padding: 0px 10px;
            cursor: pointer;
        }
        @include flex;
        background: #fff;
        border-radius:4px;
        input{
            outline: none;
            border:none;
        }
        input[type="submit"]{
            @include font(#fff,18px,500,'gilroy');
            @include btn ($border:none,$fontF:'gilroy', $fontSize:18px);
        }
    }
    .banner__img{
        position: relative;
        margin-top: 40px;
        img{
            width: 350px;
            object-fit: contain;
        }
        .banner__img-icon{
            position: absolute;
            z-index: 10;
            top: 0;
            right: -40px;
            border-radius:50%;
            background: $btnColor;
            padding: 15px 17px;
            border:4px solid #fff;
        }
    }
    .banner__button{
        @include flex;
        position: absolute;
        z-index: 30;
        bottom:0;
        left: 50%;
        transform: translate(-50%,50%);
        display: none;
        .banner__btn{
            display: inline-block;
            @include font;
            @include flex($isGap:true, $gap:17px);
            background:#3C93F0;
            width: 150px;
            color:#fff;
            outline: none;
            border:none;
            padding: 16px;
            border-radius: 3px 0px 0px 3px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .banner__button_color{
            padding: 16px;
            border-radius: 0px 3px 3px 0px;
            background: #09D743 !important;
        }
    }
}
// ===========================price==================
.price{
    margin-top: 30px;
    .price__wrapper{
        width: 100%;
        @include flex(column,$isGap:true,$gap:30px);
        .price__line-block{
            width: 100%;
            @include flex(column);
            border-collapse: collapse;
        }
        .price__free-block{
            @include flex ($isGap:true);
            border-collapse:collapse;
            .price__free-item{
                @include flex;
                width: 382px;
                padding: 18px 15px 17px 20px;
                border: 1px dashed #3C93F0;
                p{
                    white-space: nowrap;
                    @include font;
                }
                a{
                    @include flex ($isGap:true, $gap:10px);
                    @include font;
                }
            }
        }
        .price__button{
            width: 100%;
            background: #EDF3F6;
            @include flex (row, center,center);
            padding: 12px 0;
            .price__btn{
                @include btn;
                @include font(#fff,14px,600);
            }
        }
        .price__line{
            padding: 13px 17px 12px 25px;
            width: 100%;
            border: 1px solid #F1F1F1;
            background: #FFF;
            @include flex;
            .price__book-order{
                @include flex ($isGap:true,$gap:40px);
                a{
                    @include font(#3C93F0,14px);
                    @include flex($isGap:true, $gap:14px);
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                }
                .price__number{
                    @include font($textColor,24px,700);
                }
            }
            .price__text{
                @include flex ($isGap:true,$gap:20px);
                h3{
                    @include font($textColor,24px,700);
                    white-space: nowrap;
                }
                .price__info{
                    @include font($textColor,14px);
                    opacity: 0.5;
                    white-space: nowrap;
                }
            }
        }
    }
}
// ============================SLIDER==================
.slider{
  margin-top: 40px;
  .slider__content{
    @include flex ($isGap:true,$gap:20px);
    padding: 0 35px;
  }
  .slider__card{
    @include flex(column);
    border:2px solid #F1F1F1;
    border-radius:3px;
    background:#fff;
    padding: 30px;
    .slider__title{
      @include flex;
      width: 100%;
      margin-bottom: 33px;
      .slider__logo{
        @include flex;
        border-radius: 3px;
        background: #FED036;
        padding: 15px 17px;
      }
      .slider__cost{
        @include flex (column,end,end, $isGap:true,$gap:5px);
        span{
          @include font(#3E3E3E,24px, 700);
        }
        p{
          @include font(#878787,14px);
        }
      }
    }
    .slide__info{
      @include flex;
      width: 100%;
      margin-bottom: 25px;
      p{
        @include font(#878787,14px);
      }
      span{
        @include font($fontW:700);
      }
    }
    .slider__ava{
      @include flex (row,start,start,true);
      width: 100%;
      img{
        width: 40px;
        height: 40px;
      }
      div{
        @include flex(column,start,start,true,5px);
        p{
          @include font(#878787,14px);
        }
        h4{
          @include font($fontW:700);
        }
      }
    }
  }
}
// =============================BRANDS===================================
.brands{
  margin-top: 40px;
  .barnds__wrapper{
    @include flex(column);
    .brands__logo{
      @include grid(6);
      a{
        img{
          object-fit: contain;
        }
      }
    }
  }
}
// ===================================FOOTER===============================
footer {
  background: $textColor;
  padding: 33px 0 20px 0;
  width: 100%;
  position: relative;
  margin-top: 30px;
  .footer__tel {
    text-align: center;
    a{
      @include font ($color: #fff, $fontSize:24px, $fontW:900,$fontF:'gilroy');
      span {
        @include font ($color: #FED036, $fontSize:36px,$fontW:900 ,$fontF:'gilroy');
      }
    }
  }
  .footer__info {
    @include flex ($justify: center,);
    gap: 5px;
    margin-top: 11px;
    a {
      @include font ($color:#FED036, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
      text-decoration: underline;
    }
  }
  .footer__inn {
    @include font ($color:#fff, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    margin-top: 15px;
  }
  .footer__link {
      text-align: center;
      margin-top: 15px;
      a{
        @include font ($color:#FED036, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
        text-decoration: underline;
      }
  }
  .footer__text {
    @include font ($color:#fff, $fontSize:14px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer__end {
    @include font ($color:#edf3f6af, $fontSize:9px, $fontW:400, $fontF:'Proxima Nova');
    text-align: center;
    width: 582px;
    margin: auto;
  }
  .footet__topBtn{
    position: absolute;
    @include flex;
    gap: 5px;
    padding: 9px 13px;
    background: #3C93F0;
    border-radius: 3px;
    top: -15px;
    left: 47%;
    a{
      @include font ($color:#fff, $fontSize:14px, $fontW:600, $fontF:'Proxima Nova');
    }
  }
}
// =============================media=============================
/* ==============1280=================== */
@media only screen and (max-width: 1280px) {
  nav {
    .nav__menu {
      ul {
        gap:20px;
        a {
          font-size: 12px;
        }
      }
    }
    .nav__info{
      p{
       font-size: 12px;
      }
    }
  }
  .price__free-item{
      width: 329px !important;
  }
  .brands__logo{
   grid-template-columns: repeat(5, 1fr) !important;
  }
}
@media only screen and (max-width: 1075px) {
    .price__free-item{
        width: 309px !important;
        p{
          @include font ($fontSize:16px !important);
      }
      a{
          @include font ($fontSize:16px !important);
      }
    }
}
/* ==============1024=================== */
@media only screen and (max-width: 1024px) {
    .title{
        gap: 18px;
        h2{
            font-size: 38px;
        }
        p{
           font-size: 18px;
        }
        i{
            font-size: 40px;
        }
    }
  nav {
    padding: 10px 0;
    .nav__logo {
      img {
        width: 120px;
        height: 35px;
      }
    }
    .burger {
      display: block;
      i {
        font-size: 40px;
        color: #3C93F0;
      }
    }
    .close {
      @include flex($justify:flex-end);
      width: 100%;
      margin-bottom: 40px;

      i {
        font-size: 35px;
        color: #3C93F0;
      }
    }
    .nav__menu {
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 40px;
        margin-left: 0;
        a {
          font-size: 18px;
        }
      }
    }
    .nav__sidebar {
      position: fixed;
      bottom: 0;
      right: -100%;
      background-color: #fff;
      width: 300px;
      height: 100vh;
      flex-direction: column;
      padding: 30px 40px;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav__info{
      p{
       font-size: 18px;
      }
    }
    .nav__tel {
      a {
        font-size: 24px;
      }
    }
  }
  .banner{
    background:$bgColor;
    .banner__content{
        @include flex($isGap:true !important,$gap:30px !important);
    }
    .banner__text{
        h2{
            @include font($fontSize:24px,$fontW:600);
        }
        h1{
            @include font(#fff,42px,900,'gilroy');
        }
        .banner__text-icon{
            p{
                @include font($fontSize:18px);
            }
        }
    }
    .banner__img{
        img{
            width: 300px;
        }
    }
}
.slider__card{
  padding: 20px !important;
}
.price{
    .price__book-order{
        .price__number{
            font-size: 14px !important;
            white-space: nowrap;
        }
    }
    .price__text{
        @include flex(column !important,start !important,start !important,$isGap:false !important,$gap:5px !important);
        h3{
            font-size: 14px !important;
        }
        .price__info{
            font-weight: 700 !important;
        }
    }
    .price__free-item{
        padding: 14px 12px 13px 17px !important;
        width: 259px !important;
        p{
          @include font ($fontSize:14px !important);
      }
      a{
          @include font ($fontSize:14px !important);
      }
    }
}
.brands__logo{
  grid-template-columns: repeat(4, 1fr) !important;
 }
}
/* ==============768=================== */
@media only screen and (max-width: 860px) {
  .brands__logo{
    grid-template-columns: repeat(3, 1fr) !important;
   }
}
@media only screen and (max-width: 768px) {
    .title{
        gap: 16px;
        h2{
            font-size: 32px;
        }
        p{
           font-size: 14px;
        }
        i{
            font-size: 30px;
        }
    }
  nav {
    .nav__logo {
      img {
        @include image-dimensions(84px, 25px);
      }
    }
    .burger {
      i {
        font-size: 25px;
      }
    }
    .nav__menu {
      .nav__info_mobile {
        display: block;
        margin-top: 30px;
        text-align: center;
      }
      .nav__tel_mobile {
        display: block;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .nav__sidebar {
      padding: 20px 40px;
    }
    .nav__info{
      display: none;
    }
    .nav__tel {
      display: none;
    }
  }
  .banner{
    background:$bgColor;
    .banner__content{
        @include flex(column, $isGap:true !important,$gap:30px !important);
    }
    .banner__text{
        @include flex (column,space-between,center);
        div{
            @include flex (column-reverse, $isGap:true,$gap:10px);
            margin-top: 30px;
        }
        h2{
            @include font($fontSize:20px,$fontW:600);
            text-align: center
        }
        h1{
            @include font(#fff,32px,900,'gilroy');
            text-align: center;
        }
        div.banner__text-icon{
            p{
                @include font($fontSize:14px);
            }
        }
    }
    .banner__img{
        margin-top: 0;
        img{
            width: 250px;
        }
        div.banner__img-icon{
            padding: 10px 12px;
            right: -25px;
        }
        svg{
            width: 44px;
            height: 44px;
        }
        div.banner__button{
            display: block;
            @include flex;
        }
    }
    .banner__form{
        display: none;
    }
}
.price{
    margin-top: 40px;
    .price__book-order{
        a{
            display: none !important;
        }
    }
    .price__info{
        font-size: 10px !important;
        font-weight: 400 !important;
    }
    .price__free-block{
        @include flex(column !important, $isGap:false !important, $gap:0 !important);
    .price__free-item_border{
        border-top: 0 !important;border-bottom: 0 !important;
    }
    }
    .price__free-item{
        width: 300px !important;
    }
}
  footer {
    .footer__tel {
      a{
        @include font ($color: #fff, $fontSize:20px, $fontW:900,$fontF:'gilroy');
        span {
          @include font ($color: #FED036, $fontSize:28px,$fontW:900);
        }
      }
    }
    .footer__info {
      a {
        @include font ($color:#FED036, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
      }
    }
    .footer__inn {
      @include font ($color:#fff, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
    }
    .footer__link {
        a{
          @include font ($color:#FED036, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
        }
    }
    .footer__text {
      @include font ($color:#fff, $fontSize:10px, $fontW:400, $fontF:'Proxima Nova');
    }
    .footer__end {
      @include font ($color:#edf3f6af, $fontSize:8px, $fontW:400, $fontF:'Proxima Nova');
      width: 100%;
    }
    .footet__topBtn {
      left: 45%;
      a {
        font-size: 10px;
      }
    }
  }
}
/* ==============640=================== */
@media only screen and (max-width: 640px) {
  .slider__card{
    padding: 15px !important;
  }
  .brands__logo{
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 0px !important;
    img{
      width: 150px;
    }
   }
}
/* ==============450=================== */
@media only screen and (max-width: 450px) {
    .title{
        gap: 10px;
        h2{
            font-size: 24px;
        }
        p{
           font-size: 12px;
        }
        i{
            font-size: 35px;
        }
    }
  nav {
    .nav__logo {
      img {
        @include image-dimensions(80px, 21px);
      }
    }
    .burger {
      i {
        font-size: 24px;
      }
    }
  }
  .price{
    .price__line{
        padding: 5px 10px !important;
    }
      .price__number{
        font-size: 12px !important;
    }
      .price__info{
        font-size: 8px !important;
    }
  }
  .slider__content{
    padding: 0 !important;
  }
  footer {
    .footer__tel {
      a{
        @include font ($color: #fff, $fontSize:28px, $fontW:900,$fontF:'gilroy');
        span {
          @include font ($color: #FED036, $fontSize:28px,$fontW:900);
        }
      }
    }
    .footer__info {
      a {
        @include font ($color:#FED036, $fontSize:12px, $fontW:400, $fontF:'Proxima Nova');
      }
    }
    .footet__topBtn {
      left: 39%;
      gap: 20px;
      padding: 4px 13px;
      top: -10px;
      a {
        font-size: 10px;
      }
    }
  }
}
/*================320===================*/
@media only screen and (max-width: 320px){
    .title{
        h2{
            font-size: 20px;
        }

        i{
            font-size: 25px;
        }
    }
}